<h1 style="text-align: center;font-family: Arial, Arial, Helvetica;">Confirmar tu Cuenta</h1>

<p style="text-align: center;font-family: Arial, Arial, Helvetica;">Hola, estas a un paso de comenzar a crear una
    comunidad en Meeti, solo debes confirmar tu cuenta en el siguiente
    enlace:</p>

<a href="<%= url %>" style="text-align: center;font-family: Arial, Arial, Helvetica; display: block; padding: 1rem;background-color: #00C897; color: white; text-transform: uppercase;
text-decoration: none;">Confirmar tu cuenta</a>

<p style="text-align: center;font-family: Arial, Arial, Helvetica;">Si no puedes acceder a este enlace, visita:
    <%= url %></p>
<p style="text-align: center;font-family: Arial, Arial, Helvetica;">Si no solicitaste este E-mail puedes ignorarlo</p>